body {
	background-color: burlywood;
	font-family: 'Roboto', sans-serif;
}

h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;
	color: royalblue;
}
#panel {
	background-color: cornsilk;
	width: 300px;
	height: 400px;
	margin:auto;
	margin-top: 50px;
	border: 5px solid;
	border-radius: 5px;
	position: relative;
	overflow: auto;
}
#question {
	margin-top: 10px;
	color: green;
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	text-decoration-style: solid;
}
#listOfChoices {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#choice1,
#choice2,
#choice3 {
	color: red;
	display: flex;
	font-family: inherit;
	padding: 12px;
	margin-top: 30px;
	font-size: 25px;
	font-weight: bolder;
	font-style: italic;
}
.hidden {
	display: none;
}
#answer {
	color: black;
	font-weight: bolder;
	font-size: 35px;
	font-family: inherit;
	text-align: center;

}
#randomQuestion {
	position: center;
	display: flex;
	justify-content: center;
	width: 300px;
	font-size: 20px;
	font-weight: 600;
	padding: 20px;
	cursor: pointer;
	color: rgb(20, 58, 20);
	margin: auto;
	margin-top: 50px;
	background-color: rgba(126, 158, 228, 0.92);
	border: 3px solid;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
}
#resetBtn {
	position: absolute;
	width: 80px;
	height: 30px;
	font-size: 18px;
	font-weight: bolder;
	background-color: cadetblue;
	margin-left: 20px;
	padding: auto;
	border-radius: 10px;

}
